name: build-snapclient-armv7

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Snapclient v0.34.0
      uses: actions/checkout@v4
      with:
        repository: badaix/snapcast
        ref: v0.34.0

    - name: Download Android NDK
      run: |
        wget https://dl.google.com/android/repository/android-ndk-r26d-linux.zip -O ndk.zip
        unzip ndk.zip
        mv android-ndk-r26d ndk

    - name: Configure & Build (Android armv7, OpenSL ES)
      run: |
        mkdir build && cd build
        cmake .. \
          -DCMAKE_TOOLCHAIN_FILE=$GITHUB_WORKSPACE/ndk/build/cmake/android.toolchain.cmake \
          -DANDROID_ABI=armeabi-v7a \
          -DANDROID_PLATFORM=android-21 \
          -DBUILD_CLIENT=ON \
          -DBUILD_SERVER=OFF \
          -DBUILD_TESTS=OFF \
          -DBUILD_WI_CLIENT=OFF \
          -DUSE_PULSE=OFF \
          -DUSE_OBoe=OFF \
          -DUSE_OSS=OFF \
          -DUSE_ALSA=OFF \
          -DUSE_PORTAUDIO=OFF \
          -DUSE_PIPEWIRE=OFF
        cmake --build . --config Release -j$(nproc)

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: snapclient-armv7
        path: build/client/snapclient
          # Build OpenSSL
          git clone https://github.com/openssl/openssl.git
          cd openssl
          git checkout openssl-3.3.2
          export ANDROID_NDK_HOME=$NDK
          perl Configure android-arm -static --prefix=/tmp/deps --openssldir=/tmp/deps
          make -j$(nproc)
          make install
          cd ..

      - name: Build snapclient
        run: |
          mkdir build
          cd build
          cmake .. -DCMAKE_TOOLCHAIN_FILE=$NDK/build/cmake/android.toolchain.cmake \
            -DANDROID_ABI=armeabi-v7a \
            -DANDROID_PLATFORM=android-21 \
            -DANDROID_NATIVE_API_LEVEL=21 \
            -DCMAKE_SYSTEM_NAME=Android \
            -DCMAKE_FIND_ROOT_PATH=/tmp/deps \
            -DBOOST_ROOT=$BOOST_ROOT \
            -DBUILD_SERVER=OFF \
            -DBUILD_CLIENT=ON \
            -DBUILD_TESTS=OFF \
            -DBUILD_STATIC_LIBS=ON \
            -DBUILD_WITH_PULSE=OFF \
            -DBUILD_WITH_ALSA=OFF \
            -DBUILD_WITH_AVAHI=OFF \
            -DBUILD_WITH_JACK=OFF \
            -DBUILD_WITH_FLAC=ON \
            -DBUILD_WITH_OPUS=ON \
            -DBUILD_WITH_VORBIS=OFF \
            -DBUILD_WITH_TREMOR=ON \
            -DBUILD_WITH_SSL=ON \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_INSTALL_PREFIX=/tmp/snapclient-install
          make -j$(nproc)
          make install

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: snapclient-armv7l-android
          path: /tmp/snapclient-install/bin/snapclient
